{% extends "base.html" %}
{% load static %}
{% block title %} Компас {% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% for anketa in anketes %}
<div>
    <div class="container mt-4">
        <div class="row">
            <div class="card col-10 col-md-6 offset-1 offset-md-3">
                <div class="d-flex mx-auto justify-content-center w-50" style="max-width: 30vh;">
                    {% if anketa.profile.user_icon %}
                    <img
                      src="{{anketa.profile.user_icon.url}}"
                      class="mt-3 border shadow rounded-circle"
                      style="width: 150px; height: 150px; object-fit: cover;"
                    >
                    {% else %}
                    <img
                      src="{% static 'default_user_icon.jpg' %}"
                      class="mt-3 border shadow rounded-circle"
                      style="width: 150px; height: 150px; object-fit: cover;"
                    >
                    {% endif %}
                </div>

                <div class="card-body">
                    <h5 class="card-title">{{anketa.profile.user.username}}</h5>
                    <p class="card-text">{{anketa.profile.annotation}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{anketa.age}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="container my-2" style="width: 20vh;">
    <div class="d-flex justify-content-between">
        {% if show_prev_btn %}
        <a href="{% url 'rl:match' %}?page={{prev_page}}" class="btn btn-primary">
            <i class="fa-solid fa-circle-arrow-left"></i>
        </a>
        {% endif %}
        {% for page_num in pages %}
        <a class="text-decoration-none" href="{% url 'rl:match' %}?page={{page_num}}">{{page_num}}</a>
        {% endfor %}
        {% if show_next_btn %}
        <a href="{% url 'rl:match' %}?page={{next_page}}" class="btn btn-primary">
            <i class="fa-solid fa-circle-arrow-right"></i>
        </a>
        {% endif %}
    </div>
</div>


{% else %}
    Авторизуйтесь!
{% endif %}

{% endblock %}


<!--
#6C7585 приглушённый серо‑синий (для второстепенного текста и меток)
`#2ECC71` сочный зелёный (совпадения в компасе)
`#FDC726` тёплый жёлтый (дополнения в компасе)
`#E74C3C` яркий красно‑оранжевый (риски в компасе)
`#3498DB` насыщенный синий (основная кнопка действия)
`#2980B9` тёмно‑синий (активное состояние, наведение)
`#D1D6DE` мягкий светло‑серый (иконки, разделители)
-->